.content{
    margin-top: 50px;
    height: 500px;
    margin: auto;
}

.career-card {
    background-color: #E5E4E2;
    height: 80%;
    max-width: 923px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    display: flex;
    align-items: flex-start;
    padding: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
}

.education-text-card {
    background-color: #f0f0f0;
    height: auto;
    max-width: 350px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2% 4%;
}

.work-text-card {
    background-color: #f0f0f0;
    height: auto;
    max-width: 350px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2% 4%;
    margin-bottom: 30px;
}

.section-title {
    margin: 0px;
    margin-bottom: 20px;
}

.link {
    color: black;

}